html,
body {
	height: 100%;
	background-image: url("../icons/seamless_paper_texture.png");
	/*background-image: url("../icons/stardust.png");*/
	/*background: orange;*/
}

#app {
	height: 100%;
}

#outer-container {
	height: 100%;
}

#page-wrap {
	height: 100%;
	/*background-color: orange;*/
	padding: 6em 2em 8em 2em;
}

.page {
	background-color: #faebd7;
	border-radius: 2px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	padding: 0 2em 4em 4em;
}

@media (max-width: 600px) {
	#page-wrap {
		padding: 4em 1em 6em 1em;
	}
}

.btn:focus {
	outline: none;
}

.sushi-menu-item {
	background-color: #FDF5E6;
	border-radius: 2px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	margin: .5em 0;
	padding: 1em 0;
}

.sushi-menu-item img {
	width: 100%;
}

.sushi-menu-item-info {
	display: flex;
	justify-content: space-between;
	margin: 0 1em;
}

.sushi-empty-text {
	padding: 1em;
	margin: .5em;
}

.ingredients-panel {
	border: 2px solid #444;
	margin: 1em 1em 0 1em;
	
}